{% extends "main.jinja" %}
{% block main %}

{% include("home/script.jinja") %}
{% include("home/style.jinja") %}

<div id="section-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <h1 class="text-header"><span class="text-gradient">FREE</span> Education For All</h1>
                        <p class="text-paragraph mt-5">Our community focusses on <span class="text-highlight">high-level, in-depth education for everyone.</span> We are currently having a <span class="text-highlight">Web Development Boot-Camp</span> that focusses on making you a <span class="text-highlight">T-Shaped & Job Ready Developer from Day 1.</span></p>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 mt-5 mt-md-5 mt-lg-0 align-center">
                        <div class="position-relative">
                            <img src="/static/images/t-shaped.png" alt="What is a T-Shaped Developer?" width="100%;" class="img-fluid" />
                            <a target="_blank" href="https://www.youtube.com/watch?v=onBooVTVwyw&list=PL2kSRH_DmWVZzZSN87g1dSDz0FUnp9PMh&index=1">
                                <div class="img-overlay">
                                    <img src="/static/images/youtube.svg" width="10%;" class="img-fluid overlay-icon" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section-2">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <h1 class="text-header-small">
                    <span class="text-gradient">
                        JOIN
                    </span> 
                    Us Today!
                    <hr class="underline underline-dark"/>
                </h1>
            </div>
        </div>
        <div class="row py-5">
            {% for stat in stats %}
            <div class="col-12 col-md-6 col-lg-3 text-center px-3 py-1">
                <div class="row stat-box p-3">
                    <div class="col-12 col-md-12 col-lg-12 my-1">
                        <img src="/static/images/{{stat.get('icon')}}" width="25%;" class="img-fluid" />
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 my-1">
                        <h1 class="text-header-small">{{stat.get("name")}}</h1>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 my-1">
                        <h1 class="text-header-small count-value text-inline" data-count="{{stat.get('value')}}">0</h1>
                        <span class="text-header-small">+</span>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 my-1">
                        <a target="_blank" href="{{stat.get('link')}}">
                            <button class="cta-btn-light px-5 py-2">Join</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="section-3">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 text-center text-md-center text-lg-start">
                        <h1 class="text-header-small">Journey Through</h1>
                        <h1 class="text-header text-neon">
                            THE ROAD LESS TRAVELLED
                            <hr class="underline underline-light" style="margin-left: 0px;" />
                        </h1>
                        <p class="text-paragraph mt-5"><span class="text-highlight">A Unique Roadmap</span> curated through the experiences of Apoorv Goyal, who <span class="text-highlight">successfully made a career in tech</span> based on skills and <span class="hifglight">without a degree.</span></p>
                        <ul class="text-start py-3">
                            <li class="text-paragraph"><span class="text-highlight">Aimed to get you started from scratch.</span> No prerequisites required.</li>
                            <li class="text-paragraph"><span class="text-highlight">Beginner friendly like never before.</span> We hate to assume anything you may or may not know.</li>
                            <li class="text-paragraph"><span class="text-highlight">Learn by doing approach with multiple projects!</span> We never met anyone who learnt without building.</li>
                        </ul>
                        <a href="/bootcamp">
                            <button class="cta-btn-light px-5 py-2">Bootcamp <i class="fa-solid fa-arrow-right"></i></button>
                        </a>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 mt-5 mt-md-5 mt-lg-0 align-center">
                        <div class="position-relative">
                            <img src="/static/images/roadmap.png" alt="Web Development Roadmap" width="100%;" class="img-fluid" />
                            <a target="_blank" href="https://www.youtube.com/watch?v=bJUpa1AJ2Gs&list=PL2kSRH_DmWVZzZSN87g1dSDz0FUnp9PMh&index=2">
                                <div class="img-overlay">
                                    <img src="/static/images/youtube.svg" width="10%;" class="img-fluid overlay-icon" />
                                </div>
                            </a>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section-4">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <h1 class="text-header-small">
                    FAQs
                    <hr class="underline underline-dark"/>
                </h1>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-md-12 col-lg-12 text-start">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <p class="text-paragraph text-black"><b>Who is this course for?</b></p>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">This course is for everyone! Doesn't matter if you're still in school, or college. Doesn't matter if you're underprivileged and cannot afford a degree. Doesn't matter if you want to switch to tech after pursuing something else or if you're not from science field. This is for you!</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <p class="text-paragraph text-black"><b>Is this course free?</b></p>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">Absolutely! We firmly believe that education is a birthright for everyone, regardless of their age, gender, race, social or financial statuses.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <p class="text-paragraph text-black"><b>What to I need to get started?</b></p>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">A laptop, a decent internet connection, willingness to work hard and a go-getter's attitide.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <p class="text-paragraph text-black"><b>What will be the duration of the course?</b></p>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">It is intended to be 1 year long, however it is possible that it may take more than that are there's going to be certain elements added to the course as deemed necessary at the time and we believe in a <b>quality first approach.</b> The boot-camp, however, does not end there as there are some even advanced concepts that we'll pick after this one to skill up. Things like software architecture, design patterns, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <p class="text-paragraph text-black"><b>What are the prerequisites for the course? Is it beginner friendly?</b></p>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">We are designing the course for someone who has no prior experience in software development and doesn't even have an IT background or a degree, therefore no prerequisites are required for it and it's absolutely beginner friendly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <p class="text-paragraph text-black"><b>Is DSA required for Web Development/DevOps? Can I skip DSA?</b></p>
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">DSA, more often than not, is only to help you improve your problem solving skills and makes you think like an engineer. Hence, it is an integral part for most of the software engineering job interviews. Ideally you should not skip DSA and practice it for 2 hours daily along with learning web development, devops, etc. In most of the scenarios, being able to solve intermediate level DSA questions is good enough.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <p class="text-paragraph text-black"><b>Should I use Windows or Linux for development?</b></p>
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">Linux! It's good to step out of your comfort zone and helps you get comfortable with CLI. Follow this playlist to get started with Linux - https://www.youtube.com/watch?v=nRpmRDm-QrQ&list=PL2kSRH_DmWVZp_cu6MMPWkgYh7GZVFS6i</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                <p class="text-paragraph text-black"><b>How much time will it take to become a job ready developer?</b></p>
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">There is no specific amount of time it will take. It completely depends on how fast you learn things, how much you're able to retain and how much you practice, but when you're able to think of any project, and build it from scratch on your own, you're a job ready developer who can start giving interviews.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                <p class="text-paragraph text-black"><b>After completing your boot-camp, will I get a job/internship?</b></p>
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">If you follow it seriously (practice as much as you can, be active in learning, develop great portfolio by completing all the challenges, learn in public, etc.) , by the end of this course, we can assure you that you'll have enough skills and confidence that you can easily get a high paying job.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                <p class="text-paragraph text-black"><b>How can I learn in public and grow my network?</b></p>
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="text-paragraph text-black">Whatever you learn, write a Tweet or create a LinkedIn post about it. Whatever doubts you have, ask them in public rather than sending DMs to others. Make sure that you keep your journey in public, and those who find your journey helpful, or are inspired by you, are going to follow you improving your reach with time. Gradually, people would start reaching out to you, consider you a mentor and you might even receive some great offers through your peers and referrals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <a target="_blank" href="https://discord.gg/EYB8tQxjxH">
                    <button class="cta-btn-light px-5 py-2">Join Discord</button>
                </a>
                <p>For More Questions</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
