{% extends "main.jinja" %}
{% block main %}

{% include("home/script.jinja") %}
{% include("home/style.jinja") %}

<div id="section-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6">
                        <h1 class="text-header"><span class="text-gradient">FREE</span> Education For All</h1>
                        <p class="text-paragraph mt-5">Our community focusses on <span class="text-highlight">high-level, in-depth education for everyone.</span> We are currently having a <span class="text-highlight">Web Development Boot-Camp</span> that focusses on making you a <span class="text-highlight">T-Shaped & Job Ready Developer from Day 1.</span></p>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 mt-5 mt-md-5 mt-lg-0 align-center">
                        <div class="position-relative">
                            <img src="/static/images/t-shaped.png" alt="What is a T-Shaped Developer?" width="100%;" class="img-fluid" />
                            <a target="_blank" href="https://www.youtube.com/watch?v=onBooVTVwyw&list=PL2kSRH_DmWVZzZSN87g1dSDz0FUnp9PMh&index=1">
                                <div class="img-overlay">
                                    <img src="/static/images/youtube.svg" width="10%;" class="img-fluid overlay-icon" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section-2">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <h1 class="text-header-small"><span class="text-gradient">JOIN</span> Us Today!</h1>
            </div>
        </div>
        <div class="row py-5">
            {% for stat in stats %}
            <div class="col-12 col-md-6 col-lg-3 text-center px-3 py-1">
                <div class="row stat-box p-3">
                    <div class="col-12 col-md-12 col-lg-12 my-1">
                        <img src="/static/images/{{stat.get('icon')}}" width="25%;" class="img-fluid" />
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 my-1">
                        <h1 class="text-header-small">{{stat.get("name")}}</h1>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 my-1">
                        <h1 class="text-header count-value text-inline" data-count="{{stat.get('value')}}">0</h1>
                        <span class="text-header">+</span>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 my-1">
                        <a target="_blank" href="{{stat.get('link')}}">
                            <button class="cta-btn-light px-5">Join</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="section-3">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 text-center text-md-center text-lg-start">
                        <h1 class="text-header-small">Journey Through</h1>
                        <h1 class="text-header text-neon">THE ROAD LESS TRAVELLED</h1>
                        <p class="text-paragraph mt-5"><span class="text-highlight">A Unique Roadmap</span> curated through the experiences of Apoorv Goyal, who <span class="text-highlight">successfully made a career in tech</span> based on skills and <span class="hifglight">without a degree.</span></p>
                        <ul class="text-start">
                            <li class="text-paragraph"><span class="text-highlight">Aimed to get you started from scratch.</span> No prerequisites required.</li>
                            <li class="text-paragraph"><span class="text-highlight">Beginner friendly like never before.</span> We hate to assume anything you may or may not know.</li>
                            <li class="text-paragraph"><span class="text-highlight">Learn by doing approach with multiple projects!</span> We never met anyone who learnt without building.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 mt-5 mt-md-5 mt-lg-0 align-center">
                        <div class="position-relative">
                            <img src="/static/images/roadmap.png" alt="Web Development Roadmap" width="100%;" class="img-fluid" />
                            <a target="_blank" href="https://www.youtube.com/watch?v=bJUpa1AJ2Gs&list=PL2kSRH_DmWVZzZSN87g1dSDz0FUnp9PMh&index=2">
                                <div class="img-overlay">
                                    <img src="/static/images/youtube.svg" width="10%;" class="img-fluid overlay-icon" />
                                </div>
                            </a>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
