<style>

#section-1 {
    background-color: #101727;
    color: white;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text-header {
    font-size: 5rem;
    font-weight: bold;
}

.text-paragraph {
    font-size: 1.2rem;
    color: #6c739c;
}

.text-highlight {
    color: white;
}

.text-gradient {
    background: -webkit-linear-gradient(left, #1e6c97, #43c3d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 480px) {
    .text-header {
        font-size: 3rem;
    }
}

</style>