<style>

#section-1 {
    background-color: #101727;
    color: white;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#section-2 {
    color: black;
    min-height: 90%;
}

.text-header {
    font-size: 5rem;
    font-weight: bold;
}

.text-header-small {
    font-size: 3rem;
    font-weight: bold;
}

.text-paragraph {
    font-size: 1.2rem;
    color: #6c739c;
}

.text-highlight {
    color: white;
}

.text-gradient {
    background: -webkit-linear-gradient(left, #1e6c97, #43c3d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stat-box {
    border: 0.1px solid #cacaca;
    border-radius: 1rem;
}

.cta-btn-light {
    background: #48d6b5;
    border: none;
    border-radius: 5px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #101727;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 480px) {
    .text-header {
        font-size: 3rem;
    }

    .text-header-small {
        font-size: 2rem;
        font-weight: bold;
    }
}

</style>