<script>
    $(document).ready(function() {
        $(".nav-link").each(function() {
            $(this).removeClass("active");
        });
        $("#roadmap-nav").addClass("active");
    })
</script>