{% extends "main.jinja" %}
{% block main %}

{% include("courses/script.jinja") %}
{% include("courses/style.jinja") %}

<div id="section-1">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <h1 class="text-header-small">
                    Courses
                    <hr class="underline underline-dark"/>
                </h1>
                <h1 class="text-header-small py-5">
                    Under Construction
                </h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}