<style>
    #section-1 {
        color: black;
        min-height: 60vh;
    }

    .courses-container {
        border: 1px solid #636363;
        border-radius: 1rem;
        display: flex;
    }

    .course-img {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
</style>