{% extends "main.jinja" %}
{% block main %}

{% include("about/script.jinja") %}
{% include("about/style.jinja") %}

<div id="section-1">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-start">
                <h1 class="text-header-small text-center text-md-center text-lg-start">
                    Our Mission
                    <hr class="underline underline-light m-start"/>
                </h1>
                <p class="text-paragraph">We started this community with one thing in mind, <span class="text-highlight">Education for everyone!</span> We believe that with the right direction and guidance at your disposal, everyone can <span class="text-highlight">get ahead of the 'race'</span> and become financially independent quick. Our community - <span class="text-highlight">Virtual Tech School is an inclusive community</span> for all where -</p>
                <ul>
                    <li class="text-paragraph">Provide with <span class="text-highlight">basic core understanding of the concepts from scratch.</span></li>
                    <li class="text-paragraph">Help you lay a solid foundation of <span class=text-highlight>technical and soft skills required in the field of tech.</span></li>
                    <li class="text-paragraph">Guide you towards getting that <span class="text-highlight">first freelancing project or that first job - your first step to financial independence.</span></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6 text-start align-center">
                <img src="/static/images/mission.webp" width="100%" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<div id="section-2">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-start text-md-start text-lg-end order-1 order-md-1 order-lg-2">
                <h1 class="text-header-small text-center text-md-center text-lg-end">
                    Why We
                </h1>
                <h1 class="text-header-small text-center text-md-center text-lg-end">
                    Started It?
                    <hr class="underline underline-dark m-end"/>
                </h1>
                <p class="text-paragraph text-black">Our mentor, Apoorv Goyal, embarked on an year long journey while learning how to code. Passionate about education, he explored the most remote and unexplored extensions of our education system and found out many flaws in it. He identified the difference in education amongst the privileged and the underprivileged folks, how vastly it differs and how bad the situation is that most of the people are unaware of. Being a college dropout, Apoorv realizes that degree is just a piece of paper and the real thing that matters are the skills. Hoping to build a community that focuses more on the skills than the merits, he start Virtual Tech School where he aims to reduce the gap in the quality of education among the privileged and the underprivileged.</p>
            </div>
            <div class="col-12 col-md-12 col-lg-6 text-start align-center order-2 order-md-2 order-lg-1">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <img src="/static/images/why.webp" width="100%" class="img-fluid" />
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center">
                        <p class="text-img-desc">Apoorv, co-hosting a seminar in Govt. School, Bastar, Chhattisgarh.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}