<style>
    #section-1 {
        background-color: #101727;
        color: white;
        min-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #section-2 {
        min-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
</style>