{% extends "main.jinja" %}
{% block main %}

{% include("bootcamp/script.jinja") %}
{% include("bootcamp/style.jinja") %}

<div id="section-1">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <h1 class="text-header-small text-center">
                    Journey Through
                </h1>
                <h1 class="text-header text-neon flicker text-center">
                    The Road Less Travelled
                    <hr class="underline underline-light"/>
                </h1>
                <p class="text-paragraph py-3"><span class="text-highlight">A complete bootcamp for beginners</span> where we focus more on <span class="text-highlight">helping you acquire real skills and build your portfolio with amazing projects.</span> As your <span class="text-highlight">first project</span> in this bootcamp, <span class="text-highlight">you'd be building this website.</span> Yes, you read it right.</p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12 col-md-6 col-lg-3 text-center my-2">
                <div class="p-3 feature-box">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <h1 class="text-header-small text-neon">
                                Beginner
                            </h1>
                            <h1 class="text-header-small text-neon">
                                Friendly
                                <hr class="underline underline-light"/>
                            </h1>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 mt-5">
                            <p class="text-paragraph">
                                Our bootcamp <span class="text-highlight">doesn't requires you to have prior coding skills or a computer science degree.</span> We focus more on the quality of the course, and we aim to <span class="text-highlight">provide you with answers, not more questions.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center my-2">
                <div class="p-3 feature-box">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <h1 class="text-header-small text-neon">
                                Multiple
                            </h1>
                            <h1 class="text-header-small text-neon">
                                Projects
                                <hr class="underline underline-light"/>
                            </h1>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 mt-5">
                            <p class="text-paragraph">
                                Our bootcamp <span class="text-highlight">consists of lots of projects, challenges and assignments.</span> By the end of this course, we want you to have <span class="text-highlight">an amazing portfolio full of amazing projects to showcase to your potential recruiters.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center my-2">
                <div class="p-3 feature-box">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <h1 class="text-header-small text-neon">
                                Financial
                            </h1>
                            <h1 class="text-header-small text-neon">
                                Goals
                                <hr class="underline underline-light"/>
                            </h1>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 mt-5">
                            <p class="text-paragraph">
                                Our bootcamp is <span class="text-highlight">designed with set financial goals in mind,</span> where we'll provide you with <span class="text-highlight">relevant guidance to achieve your financial needs</span> as you journey through the course and acquire skills.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center my-2">
                <div class="p-3 feature-box">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            <h1 class="text-header-small text-neon">
                                Independent
                            </h1>
                            <h1 class="text-header-small text-neon">
                                Developers
                                <hr class="underline underline-light"/>
                            </h1>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 mt-5">
                            <p class="text-paragraph">
                                Our bootcamp aims to <span class="text-highlight">help you think like a software engineer,</span> post which you'd have the <span class="text-highlight">superpower to find technical solutions to your problems yourself</span> without relying on others for help.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 text-center text-md-end text-lg-end my-1">
                <a href="/bootcamp">
                    <button class="cta-btn-light px-5 py-2 width-sm-100">Breakdown <i class="fa-solid fa-arrow-right"></i></button>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-center text-md-start text-lg-start my-1">
                <a href="/bootcamp">
                    <button class="cta-btn-light px-5 py-2 width-sm-100">Courses <i class="fa-solid fa-arrow-right"></i></button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}