<style>
    #section-1, #section-3, #section-5 {
        background-color: #101727;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .feature-box {
        border: 1px solid #fff;
        border-radius: 1rem;
        box-shadow: 0 0 .2rem #fff,
            0 0 .05rem #fff,
            0 0 0.5rem #48d6b5,
            0 0 0.2rem #48d6b5,
            0 0 0.7rem #48d6b5,
            inset 0 0 0.32rem #48d6b5;
    }
</style>